/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0 auto;
}
@media screen and (min-width: 501px) {
  .app-container{
    width: 501px;
    border-left: 1px solid #eeeeee;  
    border-right: 1px solid #eeeeee; 
  }
  #root{
    width: 501px;
  }
} 
/* 하단 흰색 여백 영역 */
.app-footer {
  height: 40px; /* 푸터 높이 조절 */
  background-color: #ffffff;
  border-top: 1px solid #eeeeee; /* 깔끔한 경계선 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 아이폰 등 하단 바 여백 대응 */
  padding-bottom: env(safe-area-inset-bottom);
}

.footer-text {
  font-size: 0.8rem;
  color: #adb5bd;
}

.app-content {
  flex: 1; /* 나머지 공간을 다 차지해서 푸터를 아래로 밀어냄 */
  overflow-y: auto; /* 콘텐츠가 길어지면 이 영역만 스크롤 */
}